@font-face {
    font-family: 'bebas_neuebook';
    src: url('../fonts/bebas/bebasneue_book-webfont.eot');
    src: url('../fonts/bebas/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas/bebasneue_book-webfont.woff2') format('woff2'),
         url('../fonts/bebas/bebasneue_book-webfont.woff') format('woff'),
         url('../fonts/bebas/bebasneue_book-webfont.ttf') format('truetype'),
         url('../fonts/bebas/bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;

}
.bodyAdmin {
	margin-top: 10%;
}

.navbar-default{
	background-color: transparent;
}

#editor {
	overflow:scroll;
	max-height:300px;
}

.adminContainer {
	margin-left: 280px;
}

.right-align {
	float: right;
}

.hidden {
	display: none;
}
.body-bck{
	background-color: #00cccc;
}
.logo-admin{
	width: auto;
	height: 50%;
}
.logo-admin img{
	margin: -70px 42% 5%;
	vertical-align: top;
}
.name{
	font-family: bebas_neuebook;
	font-size: 2.5em;
	color: #FFFFFF;
	float: right;
	width: 100%;
	height: auto;
	margin-top: -4%;
	text-align: center;
	margin-bottom: 2%;
}
.nav-img{
      margin-right:7px;
      width:25px;
      margin-bottom: -10px;
      margin-left:-10px;
    }
    .icon-nav{
        fill: #1C3560;
		stroke: #1C3560;
    }
    .icon-nav:hover{
        fill:#1C3761;
        stroke:#1C3761;
    }
    .icon-nav:focus{
        fill:#1C3761;
        stroke:#1C3761;
    }
    a .icon-active{
        fill:#1C3761;
        stroke:#1C3761;
    }
    .nav-link{
        float: right;
        margin-top: 5%;
        margin-left: 2px;
    }
    .nav-link0{
        float: right;
        margin-top: 2%;
        margin-left: 2px;
    }